.Rhistory
.vscode/
figures/*
csvFiles/.Rhistory
.Rproj.user/

dataAnalysis_DEH.Rmd
InteractiveMap_Europe.R

csvFiles/shapefiles/*
csvFiles/nativeStatus.xlsx
csvFiles/BsalMap.html
csvFiles/locations
csvFiles/Germany_data.xlsx
csvFiles/Germany_data.xlsx
csvFiles/weather.csv
csvFiles/gbif_amphibs.csv

weatherSampling/weatherProcessing_monthly.R