markdownFiles/figures/*
weatherSampling/weatherProcessing_monthly.R

.Rhistory
.Rproj.user/*

csvFiles/shapefiles/*
csvFiles/nativeStatus.xlsx
csvFiles/locations
csvFiles/locations_with_ADMs
csvFiles/Germany_data.xlsx
csvFiles/weather.csv
csvFiles/gbif_amphibs.csv
csvFiles/.Rhistory

.Rproj.user
README.pdf